* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #121114;
    
}
.logo {
    display: flex;    
    justify-content: center;
    padding-top: 30px;        
}

main {
    display: flex;
    flex-direction: column;
}
main h1 {
    color: #fff;
    margin-top: 80px;
    text-align: center;
    font-weight: 700;
    font-family: 'Inconsolata', sans-serif;
}

main .user-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

main .user-box {
    width: 160px;       
}

#add-perfil {
    opacity: 50%;
}


main .user-box figure {
    display: flex;
    justify-content: center;
    height: 155px;
    align-items: center;
    border: 2px solid #1E1D20;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1E1D20;
    opacity: 70%;
}

main p {
    color: #8d8896;
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    border: hidden;
    font-family: 'Roboto', sans-serif;
}

.rodape {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.rodape button {
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: #121114;
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
}

.rodape button:hover {
    background-color: #fff;
    color: #1E1D20;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.user-box:hover figure{
    opacity: 100%;
    border: 2px solid #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.user-box:hover p{
    color: #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.user-box:hover img{
    opacity: 100%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.user-box:hover #add-perfil{
    opacity: 100%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* animações extras */
#fundo-anim {
    animation-delay: 1s;
    animation-name: fadding;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;

    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.caixa-logo-anim {
    animation-delay: 1s;
    animation-name: fadding;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    position: fixed;
    display: flex;
    width: 100%;
    height: 80%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    opacity: 100%; 
}

#logo-anim {
    transform: scale(2);
    display: inline-block;
    position: fixed;   
    z-index: 3;

}

@keyframes fadding {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        z-index: -1;
    }
    
}
